<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Videos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <h2>List of Videos</h2>

   <table>
       <tr>
           <th>Id</th>
           <th>VideoTitle
           <th>VideoType</th>
           <th>PricePerVideo</th>
          
       </tr>

       <tr th:each="video : ${videos}">
           <td th:text="${video.id}">Id</td>
           <td th:text="${video.video_title}">VideoTitle</td>
           <td th:text="${video.video_type}">VideoType</td>
           <td th:text="${video.price_per_video}">PricePerVideo</td>
       </tr>
   </table>

</body>
</html>